<!DOCTYPE html>
<html>

<head>
  <%- include("includes/head") %>

  <title>MobMap - Alterar Senha</title>
  <link rel='stylesheet' href='/stylesheets/deyvisonStyle.css'>
  <meta name="keywords" content="Mobilidade, Mapas, Perfil">
  <meta name="author" content="Deyvison J Paula">
</head>

<body>
  <%- include("includes/header") %>


  <main class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <img class="rounded-cicle" src="/images/profile.png" alt="imagem de perfil" width="200">
        <h4><%= dadosUsuario.nome %></h4>
        <span><%= dadosUsuario.email %></span>

        <ul class="flex-column nav">
          <a class="nav-link" href="/perfil/atualizarPerfil">Atualizar Perfil</a>
          <a class="nav-link" href="/perfil">Ver Perfil</a>
          <a class="nav-link" href="/perfil/excluirPerfil">Excluir Conta</a>
        </ul>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8" style="margin-top:50px;">
        <%- typeof(erroSenha) !== 'undefined' ? erroSenha : '' %>
        <h3 class="perfil"> Alteração de senha </h3>
        <hr class="perfil">
        <form id="alterarSenha" action="/perfil/alterarSenha?_method=PUT" method="POST">
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
              <label for="senhaAtual">Senha atual</label>
              <input type="password" class="form-control" name="senhaAtual" id="senhaAtual">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
              <label for=" novaSenha">Nova senha</label>
              <input type="password" class="form-control" name="novaSenha" id="novaSenha">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
              <label for=" confNovaSenha">Confirmar nova senha</label>
              <input type="password" class="form-control" name="confNovaSenha" id="confNovaSenha">
            </div>
          </div>
          <button type="submit" class="btn btn-padrao">Alterar</button>
          <button type="button" onclick="window.location.href = '/perfil'" class="btn btn-padrao">Cancelar</button>

        </form>
      </div>

      <div class="col-lg-4 redes-sociais text-center" style="margin-top: 50px;">
        <h4>Compartilhe essa ideia</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/facebook-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/instagram-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/google-icon.png" alt=""></a></li>
        </ul>
      </div>

    </div>

  </main>

  <%- include("includes/footer") %>

  <%- include("includes/script") %>

</body>

</html>