<!DOCTYPE html>
<html>

<head>
  <%- include("includes/head") %>

  <title>MobMap - Perfil</title>
  <link rel='stylesheet' href='/stylesheets/deyvisonStyle.css'>
  <meta name="keywords" content="Mobilidade, Mapas, Perfil">
  <meta name="author" content="Deyvison J Paula">
</head>

<body>
  <%- include("includes/header") %>

  <main class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        <img class="rounded-cicle" src="/images/profile.png" alt="imagem de perfil" width="200">
        <h4><%= dadosUsuario.nome %></h4>
        <span><%= dadosUsuario.email %></span>

        <ul class="flex-column nav">
          <a class="nav-link" href="/perfil/atualizarPerfil">Atualizar perfil</a>
          <a class="nav-link" href="/perfil/alterarSenha">Alterar senha</a>
          <a class="nav-link" href="/perfil">Ver Perfil</a>
        </ul>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8" style="margin-top:50px">
        <h3 class="perfil" style="color: red;"> Apagar relato de problema
        </h3>
        <hr style="border-bottom: 2px solid rgb(221, 99, 68);">
        <p> Oi <strong><%= dadosUsuario.nome %></strong> </p>
        <p>Atenção! Recomendamos apagar um relato de problema somente em caso de erro nos dados enviados ou não queira mais relatar o problema.</p>
        <p>Se o problema já foi resolvido, não é necessário apagar o problema. Apenas marque-o como resolvido.</p>
        <p>Caso você realmente deseje apagar o relato de problema de ID <strong><%= id %></strong>, clique em <strong>"Apagar"</strong> para fazer a ação. Após a confirmação, não é possível reverter a ação após a exclusão. </p>
          <form id="excluirPerfil" action="/perfil/problema/<%= id %>/apagar?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Apagar</button>
            <button type="button" onclick="window.location.href = '/perfil'" class="btn btn-primary">Cancelar</button>
          </form>
      </div>

      <div class="col-lg-4 redes-sociais text-center" style="margin-top: 50px;">
        <h4>Compartilhe essa ideia</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/facebook-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/instagram-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/google-icon.png" alt=""></a></li>
        </ul>
      </div>

    </div>

  </main>

  <%- include("includes/footer") %>

  <%- include("includes/script") %>

</body>

</html>