<!DOCTYPE html>
<html>

<head>
  <%- include("includes/head") %>

  <title>MobMap - Atualizar Perfil</title>
  <link rel='stylesheet' href='/stylesheets/deyvisonStyle.css'>
  <meta name="keywords" content="Mobilidade, Mapas, Perfil">
  <meta name="author" content="Deyvison J Paula">
</head>

<body>
  <%- include("includes/header") %>

  <main class="container">
    <div class="row mt-5 mb-5">
      <div class="col-sm-12 col-md-12 col-lg-4 text-center">
        
        <% if (perfilUsuario !== null) { %>
          <img class="rounded-circle" src="/images_avatar/<%= perfilUsuario.avatar !== null ? perfilUsuario.avatar : 'avatar-padrao-mobmap.jpg' %>" alt="Avatar do perfil do usuário" width="200px" height="200px">
        <% } else { %> 
          <img class="rounded-circle" src="/images_avatar/avatar-padrao-mobmap.jpg" alt="Avatar do perfil do usuário" width="200">
        <% } %> 
        
        <h4 class="card-title"><%= dadosUsuario.nome %></h4>
        <span><%= dadosUsuario.email %></span>

        <ul class="flex-column nav">
          <a class="nav-link" href="/perfil">Ver Perfil</a>
          <a class="nav-link" href="/perfil/alterarSenha">Alterar senha</a>
          <a class="nav-link" href="/perfil/excluirPerfil">Excluir Conta</a>
        </ul>

      <div class="col-lg-12 redes-sociais text-center d-none d-lg-block  d-xl-block" style="margin-top: 50px;">
        <h4>Compartilhe essa ideia</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/facebook-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/instagram-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/google-icon.png" alt=""></a></li>
        </ul>
      </div>

      </div>

      <div class="col-sm-12 col-md-12 col-lg-8" style="margin-top: 50px;">
        <h3 class="perfil"> Atualizar Perfil </h3>
        <hr class="perfil">

        <form id="atualizarPerfil" action="/perfil/atualizarPerfil?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="nomePerfil">Nome</label>
              <input type="text" class="form-control" name="nomePerfil" id="nomePerfil" value="<%= dadosUsuario.nome %>" required>
            </div>
            <div class="form-group col-md-7">
              <label for="sobrenome">Sobrenome</label>
              <input type="text" class="form-control" name="sobrenome" id="sobrenome" value="<%= (perfilUsuario !== null) ? perfilUsuario.sobrenome : '' %>">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="emailPerfil">Email</label>
              <input type="email" class="form-control" name="emailPerfil" id="emailPerfil" value="<%= dadosUsuario.email %>" disabled required>
            </div>
            <div class="form-group col-md-4">
              <label for="telefone">Telefone</label>
              <input type="number" class="form-control" name="telefone" id="telefone" value="<%= (perfilUsuario !== null) ? perfilUsuario.telefone : '' %>">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="rua">Endereço</label>
              <input type="text" class="form-control" name="rua" id="rua" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.rua : '' %>">
            </div>
            <div class="form-group col-md-2">
              <label for="numero">Número</label>
              <input type="text" class="form-control" name="numero" id="numero" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.numero : '' %>">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="bairro">Bairro</label>
              <input type="text" class="form-control" name="bairro" id="bairro" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.bairro : '' %>">
            </div>
            <div class="form-group col-md-8">
              <label for="referencia">Ponto de Referência</label>
              <input type="text" class="form-control" name="referencia" id="referencia" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.ponto_referencia : '' %>">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="cep">CEP</label>
              <input type="number" class="form-control" name="cep" id="cep" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.cep : '' %>">
            </div>
            <div class="form-group col-md-6">
              <label for="cidade">Cidade</label>
              <input type="text" class="form-control" name="cidade" id="cidade" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.cidade : '' %>">
            </div>
            <div class="form-group col-md-4">
              <label for="estado">Estado</label>
              <input type="text" class="form-control" name="estado" id="estado" value="<%= (enderecoUsuario !== null) ? enderecoUsuario.estado : '' %>">
            </div>
          </div>

          <div class="form-group col-md-12">
          <label for="foto">Adicione uma foto/avatar:</label>
          <input type="file" class="m-3" name="foto">
          </div>
          <label for="sobreUsuario">Fale um pouco sobre você</label>
          <textarea class="form-control" name="sobreUsuario" id="sobreUsuario" rows="5"><%= (perfilUsuario !== null) ? perfilUsuario.sobre_usuario : '' %></textarea>

          <button type="submit" class="btn btn-padrao">Alterar</button>
          <button type="button" onclick="window.location.href = '/perfil'"  class="btn btn-padrao">Voltar</button>

        </form>

      </div>

      <div class="col-lg-12 redes-sociais text-center d-lg-none .d-xl-none" style="margin-top: 50px;">
        <h4>Compartilhe essa ideia</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/facebook-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/instagram-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/google-icon.png" alt=""></a></li>
        </ul>
      </div>

    </div>

  </main>

  <%- include("includes/footer") %>

  <%- include("includes/script") %>
  
</body>

</html>


</body>

</html>