<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
    <link rel='stylesheet' href='./stylesheets/ericStyle.css'>
    <title>Enviar Problema</title>
  </head>
    <body class="font" >

      <%- include("includes/header") %>
        
          <section>
            <div class="container">
              <div class="alert alert-dismissible mt-5 d-none">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              </div>
              <% if (typeof(listaDeErros) != 'undefined') { %>
                <div class="alert alert-danger mt-4" role="alert">
                  <ul class="m-0">
                  <% listaDeErros.forEach(erro => { %>
                    <li><%- erro.msg %></li>
                  <% }) %> 
                </ul>
                </div>
              <% } %> 
              <form class="" id="formProblema" action="/enviarproblema" method="POST" enctype="multipart/form-data">
              <h2 class="ml-0">1 - Sobre o problema</h2>
              
              <p>Selecione o problema encontrado *</p>
              <p class="small mt-0 mb-1"><em>Campos com * são campos obrigatórios</em></p>
              <div class="p-2" >
                <div class="form-group">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Calçada esburacada" id="defaultCheck1" required>
                      <label class="custom-control-label" for="defaultCheck1">
                        Calçada esburacada
                      </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Inclinação íngrime" id="defaultCheck2">
                      <label class="custom-control-label" for="defaultCheck2">
                        Inclinação íngrime
                      </label>
                  </div>     
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Piso escorregadio" id="defaultCheck3">
                      <label class="custom-control-label" for="defaultCheck3">
                        Piso escorregadio
                      </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Árvore obstruindo caminho" id="defaultCheck4">
                      <label class="custom-control-label" for="defaultCheck4">
                        Árvore obstruindo caminho 
                      </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Poste obstruindo caminho" id="defaultCheck5">
                      <label class="custom-control-label" for="defaultCheck5">
                        Poste obstruindo caminho
                      </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Ocupação irregular" id="defaultCheck6">
                      <label class="custom-control-label" for="defaultCheck6">
                        Ocupação irregular (ex:comércio, vendedor ambulante, caçamba)
                      </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" name="problema" type="radio" value="Outro" id="defaultCheck7">
                      <label class="custom-control-label" for="defaultCheck7">
                        Outro
                      </label>
                  </div>
                  <div class="custom-control">
                    <input class="form-control pl-2 pr-2" name="problema_outro" type="text" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                      
                    </label>
                  </div>
                </div>
              </div>
    
              <p>Escreva uma breve descrição sobre o problema</p>
                <div class="form-group mt-0">
                  <label for="exampleFormControlTextarea1"></label>
                  <textarea class="form-control" name="descricao" id="exampleFormControlTextarea1" rows="3" placeholder="Exemplo: A calçada possui diversos buracos e tem uma inclinação muito íngrime, dificultando a mobilidade de quem passa por ali"></textarea>
                </div>
              </div>
          </section>

          <section class="bg-light">
            <div class="container pb-3">      
            <h2 class="ml-0">2 - Localização do problema</h2>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="inputCEP">CEP *</label>
              <input type="text" class="form-control" name="cep" id="inputCEP" placeholder="Ex: 12345000" required>
            </div> 
            <div class="form-group col-md-8">
              <label for="inputAddress">Rua *</label>
              <input type="text" class="form-control" name="rua" id="inputAddress" placeholder="Ex: Av. Do Estado" required disabled>
            </div>
          </div>
          <div class="row">
            
            <div class="form-group col-md-8">
              <label for="inputBairoo">Bairro *</label>
              <input type="text" class="form-control" name="bairro" id="inputBairro" placeholder="Ex: Bairro da Liberdade" required disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="inputNumero">Número (Use "SN" para sem número) *</label>
              <input type="text" class="form-control" name="numero" id="inputNumero" placeholder="Ex: 1234 ou SN" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-7">
              <label for="inputCity">Cidade *</label>
              <input type="text" class="form-control" name="cidade" id="inputCidade" placeholder="Ex: São Paulo" required disabled>
            </div>
            <div class="form-group col-md-5">
              <label for="inputCity">Estado *</label>
              <input type="text" class="form-control" name="estado" id="inputEstado" placeholder="Ex: SP" required disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Ponto de Referência</label>
            <input type="text" class="form-control" name="referencia" id="inputReferencia" placeholder="Ex: Em frente ao posto de gasolina">
          </div>
        </div>
        </section>

        <section>
          <div class="container">          
          <div class="form-group">
            <h2 class="ml-0">3 - Imagem do problema</h2>
            <p class="mb-3">Adicionar Imagem</p>
              <div class="row">
                <input type="file" class="ml-3" name="foto">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-light">
          <div class="container pb-3">          
          <div class="form-group">
            <h2 class="ml-0">4 - Enviar problema</h2>
            <p class="mb-3">Para finalizar clique no botão abaixo</p>
              <div class="row d-flex justify-content-center justify-content-sm-start">
                  <button type="button" class="btn btn-default btn-envio ml-0 ml-sm-3" data-toggle="modal" id="enviarBotao">Enviar
                  </button>
              </div>
              <div class="alert alert-danger alert-dismissible mt-5 d-none" id="alertaBaixo">
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                        <p class="modal-title" id="exampleModalLabel">Confirmação de Envio</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Obrigado por contribuir com o mapeamento de locais! <br>
                        Clique novamente em "Enviar" para confirmar o registro do problema.
                      </div>
                      <div class="modal-footer">
                        <form  method="post">           
                          <input type="submit" class="btn btn-default btn-envio" value="Enviar">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </section>

      
        
        <%- include("includes/footer") %>

        <%- include("includes/script") %>
        <script src="./scripts/problemaScript.js"></script>
    </body>
</html>