<!DOCTYPE html>
<html>

<head>
  <%- include("includes/head") %>

  <title>MobMap - Problema Resolvido</title>
  <link rel='stylesheet' href='/stylesheets/deyvisonStyle.css'>
  <meta name="keywords" content="Mobilidade, Mapas, Perfil">
  <meta name="author" content="Deyvison J Paula">
</head>

<body>
  <%- include("includes/header") %>

  <main class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 text-center">

        <% if (perfilUsuario !== null) { %>
          <img class="rounded-circle mb-2" src="/images_avatar/<%= perfilUsuario.avatar !== null ? perfilUsuario.avatar : 'avatar-padrao-mobmap.jpg' %>" alt="Avatar do perfil do usuário" id="avatar-usuario">
        <% } else { %> 
          <img class="rounded-circle mb-2" src="/images_avatar/avatar-padrao-mobmap.jpg" alt="Avatar do perfil do usuário" id="avatar-usuario">
        <% } %>

        <h4><%= dadosUsuario.nome %></h4>
        <span><%= dadosUsuario.email %></span>

        <ul class="flex-column nav">
          <a class="nav-link" href="/perfil/atualizarPerfil">Atualizar perfil</a>
          <a class="nav-link" href="/perfil/alterarSenha">Alterar senha</a>
          <a class="nav-link" href="/perfil">Ver Perfil</a>
        </ul>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8" style="margin-top:50px">
        <% if (typeof(erroProblemaResolvido) !== 'undefined') { %>
          <div class="alert alert-danger" role="alert">
            <%- erroProblemaResolvido %> 
          </div>
        <% } %> 
        <h3 class="perfil"> Marcar relato de problema como resolvido
        </h3>
        <hr style="border-bottom: 2px solid #4488DD;">
        <p> Oi <strong><%= dadosUsuario.nome %></strong> </p>
        <p> Caso você deseje marcar o relato de problema de ID <strong><%= id %></strong> como resolvido, clique em <strong>"Confirmar"</strong> para fazer a ação. Após a confirmação, não é possível reverter a ação. </p>
          <form id="excluirPerfil" action="/perfil/problema/<%= id %>/resolvido?_method=PUT" method="POST">
            <button type="submit" class="btn btn-padrao btn-green">Confirmar</button>
            <button type="button" onclick="window.location.href = '/perfil'" class="btn btn-padrao">Cancelar</button>
          </form>
      </div>

      <div class="col-lg-4 redes-sociais text-center" style="margin-top: 50px;">
        <h4>Compartilhe essa ideia</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/facebook-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/instagram-icon.png" alt=""></a></li>
          <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><img
                src="/images/google-icon.png" alt=""></a></li>
        </ul>
      </div>

    </div>

  </main>

  <%- include("includes/footer") %>

  <%- include("includes/script") %>

</body>

</html>